<div class="row">
    <div class="cards">
        <div class="card card-1">
            <div class="card__icon"><i class="fa-solid fa-user-group"></i></div>
            <h2 class="card__title">Users</h2>
            <p class="card__apply">
                <a class="card__link">{{agents.length}}</a>
            </p>
        </div>
        <div class="card card-2">
            <div class="card__icon"><i class="fa-solid fa-chalkboard-user"></i></div>
            <h2 class="card__title">Active Users</h2>
            <p class="card__apply">
                <a class="card__link">?</a>
            </p>
        </div>
        <div class="card card-3">
            <div class="card__icon"><i class="fa-solid fa-phone"></i></div>
            <h2 class="card__title">Active Calls</h2>
            <p class="card__apply">
                <a class="card__link">?</a>
            </p>
        </div>
        <div class="card card-4">
            <div class="card__icon"><i class="fa-solid fa-chalkboard"></i></div>
            <h2 class="card__title">Campaigns</h2>
            <p class="card__apply">
                <a class="card__link">?</a>
            </p>
        </div>

    </div>
</div>