<div class="text-end" (click)="open(addContent)">
  <i class="fa-solid fa-circle-plus add"></i>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover dt">
  <thead>
    <tr>
      <th>Role</th>
      <th>ID</th>
      <th>Creation date</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ag" *ngFor="let person of agents"  [routerLink]="['./',person.id]">
      <td>{{ person.role }}</td>
      <td>{{ person.id }}</td>
      <td>{{ person.createdAt | date: 'dd-MM-yyyy' }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="stateAdd" class="alert alert-success mt-4 scale-up-hor-left" role="alert">
  User added successfully.
</div>

<div *ngIf="urlStateEdit" class="alert alert-success mt-4 scale-up-hor-left" role="alert">
  User edited successfully.
</div>

<div *ngIf="urlStateDelete" class="alert alert-success mt-4 scale-up-hor-left" role="alert">
  User deleted successfully.
</div>

<ng-template #addContent let-modal>
  <div class="modal-body todo pt-5">
    <form>
      <div class="form-group mb-2">
        <label>ID</label>
        <input type="Number" class="form-control" name="id"  [(ngModel)]="id" id="id" aria-describedby="emailHelp"
          placeholder="Id">
      </div>
      <div class="form-group mb-2">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" id="exampleInputPassword1"
          placeholder="Password">
      </div>
      <label for="exampleSelectRole">Role</label>
      <select id="exampleSelectRole" name="role" [(ngModel)]="role" class="form-select mb-3"
        aria-label="Default select example">
        <option selected>Choose user role</option>
        <option value="admin">Admin</option>
        <option value="agent">Agent</option>
      </select>
      <div class="text-center">
        <button type="button" class="btn btn-outline-dark mx-2" (click)="modal.close('Cancel')">Cancel</button>
        <button type="submit" (click)="modal.close('add')" class="btn btn-primary px-4 cb">Add</button>
      </div>
    </form>
  </div>
</ng-template>