<li class="list-group-item align-items-center border-0 mb-0 rounded" style="background-color: #f4f6f7;">
    <div class="d-flex justify-content-between">
        <div>
            <input (click)="checkTask()" class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
            <span [ngClass]="{line: check}">{{task.content}}</span>
        </div>
        <div>
            <button *ngIf="check" disabled type="button" class="btn btn-success">Completed</button>
            <button type="button" class="btn btn-danger ms-2 text-white" (click)="deleteTask()">Remove</button>
        </div>
    </div>
</li>