<li class="list-group-item align-items-center border-0 mb-0 rounded" style="background-color: #f4f6f7;">
    <div class="d-flex justify-content-between">
        <div>
            <input (click)="checkTask()" class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
            <span [ngClass]="{line: check}">{{task.content}}</span>
        </div>
        <div>
            <button *ngIf="check" disabled type="button" class="btn btn-success">Completed</button>
            <button type="button" class="btn btn-danger ms-2 text-white" (click)="open(content)">Remove</button>
        </div>
    </div>
</li>
<ng-template #content let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <h3>Are you sure to remove this task ? </h3>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Confirm</button>
    </div>
</ng-template>